@charset "UTF-8";

@media (max-width: 768px) {

    .productoDeCatalogo,
    .productoIdEnCarritoMini {
        max-width: 100%;
        margin: 10px;
    }
}


* {
    --rosa-color: #e96c7c;
    --black-color: #000405f3;
    --gris-color: #2e2d2dd8;
    --white-color: #fffcfc;
    --rojo-color: #fa5760bd;
    --transparente-color: #dbbabaab;
    box-sizing: border-box;
    margin: 4px;
    padding: 0;
    color: var(--gris-color);
    justify-content: center;
}

@font-face {
    font-family: "Comic-Light";
    src: url(../assets/fonts/ComicNeue-Light.ttf);
}

body {
    background: url(../assets/img/background/fondo2.jpg);
    font-size: medium;
    color: var(--azul-color);
}

h3 {
    padding-top: 10px;
    color: var(--azul-color);
    font-size: 30px;
}


h5 {
    font-size: medium;
}


/* *Estilos del body */

.container__tittle-index {
    background-color: var(--black-color);
    margin-top: 5px;
}

.container__usuario {
    background-color: var(--rosa-color);
    margin-top: 5px;
    padding: 5px;
}

#infoUsuario {
    display: flex;
    font-size: medium;
    font-weight: bold;
}

.container-text {
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--gris-color);
    margin-bottom: 5px;
    padding: 0 10px;
}

#contenedor-general {
    background-color: var(--transparente-color);
    border: 2 solid black;
    padding: 10px;
    margin: 2%;
}

.productoDeCatalogo {
    background-color: rgba(212, 170, 170, 0.383);
    border: 2px solid #2B3035;
    border-radius: 5%;
    padding: 10px;
    max-width: 300px;
    margin: 10px;
    color: var(--black-color);
}

.imgProduct {
    border-radius: 5%;
}

.swal2-html-container {
    color: var(--white-color) !important;
}

.store1 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.store2 {
    background-color: var(--rojo-color);
    height: 100%;
    border: 4px solid var(--gris-color);
    padding-bottom: 5px;
    color: var(--black-color);
    border-radius: 20px;
}

.card {
    background-color: var(--gris-color);
    color: var(--white-color);

    .card-title,
    .card-text {
        color: var(--white-color);
    }
}

.myButtonDeleteClass {
    align-items: center;
}


#btnFinalizar {
    margin-bottom: 5px;
}

.swal2-image {
    border-radius: 50%;
}

.material-icons{
    padding: 15px;
}

#btnInicioSesion{
    padding: 10px;
    margin: 15px;
    margin-left: 50px;
}

/* Footer */

.footer-style {
    padding-top: 30px;
    background-color: var(--gris-color);
}
.icon_small_redes_footer {
    width: 50px;
}
footer h4,
footer h5 {
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--white-color);
}


button {
    padding: 5px;
    background-color: rgba(49, 49, 49, 0.788);
    color: var(--white-color);
    font-weight: 400;
    margin-left: 5px;
    border-radius: 5px;
}


#contenedor-productos,
#contenedor-productos-mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedor-carrito,
#contenedor-carrito-mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}